body{
    background-color: #6becea;
    margin: 0;
    padding: 0;
    transition: 0.4s;
}

h1{
    font-size: 90px;
    color: #137bbc;
    margin: 15px auto 0 auto;
    font-family: 'Fira Code', monospace;
    position: relative;
    top: 10px;
    margin-left: 170px;
    transition: 0.4s;
}

footer{
    text-align: center;
    background-color: #8BF5FA; 
    padding:50px 0 20px;
    font-family: 'Fira Code', monospace;
    transition: 0.4s;
}

a{
    color:rgb(38, 163, 163);
    margin:10px 20px;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Handjet', cursive;
}

ul{
    font-size: 20px;
}

a:hover{
    color: #ad24bc;
}

.div1{
    text-align: center;
    position: relative;
    background-color: #6becea;
    transition: 0.4s;
}

.logo{
    width: 150px;
    height: 100px;
    margin: 10px;
    position: absolute;
    margin-top: 20px;
    left: 280px
}

#accordian-full{
    width: 70%;
    margin-top: 50px;
    margin-left: 15%;
    margin-bottom: 210px;
    text-align: justify;
}

.accordian {
    background-color: #D5FFE4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    transition: 0.4s;
    font-family: 'Fira Code', monospace;
 }
  
.active, .accordian:hover {
    background-color: #ccc;
}
  
.accordian:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.panel{
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
    font-family: 'Handjet', cursive;
}

.copyright{
    color: #4b5c59;
    padding:10px 0;
    font-size: 16px;
}

.footer-link{
    font-size: 24px;
}

.checkbox {
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    float: left;
}

.accordian.marked {
    background-color: rgb(27, 207, 27);
  }

.dark-logo{
    width: 50px;
    height: 50px;
}

.dark-logo:hover{
    width: 55px;
    height: 55px;
    transition: 0.4s;
}

#dark-button{
    width: 50px;
    height: 50px;
    padding: 0 0 0 0;
    border: none;
    background-color: #6becea;
    position: absolute;
    top: 25px;
    right: 25px;
}   

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #6becea;
    transition: 0.4s;
}

.container .progress-container {
    margin-top: 70px;
    margin-bottom: 25px;
}

.container .progress-container h4 {
    margin: 0 0 15px 15px;
    letter-spacing: .5px;
    font-size: 24px;
    float: left;
    font-family: 'Fira Code', monospace;
    position: absolute;
    left: 325px;
    color: rgb(241, 213, 29);
}

.container .progress-container .progress-bar {
    position: relative;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 3px 4px 5px 0px rgba(204 185 185 / .75);
}

.container .progress-container .progress-bar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: white;
    font-weight: 800;
    font-size: 18px;
    font-family: 'Fira Code', monospace;
    line-height: 1.7;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(90deg, rgb(7, 149, 12) 50%, rgb(27, 207, 27) 100%);
    transition: width .5s linear;
}

.dark-mode{
    background-color: #137bbc;
    transition: 0.4s;
}


.dark-mode-light{
    color: #6becea;
    transition: 0.4s;
}

.dark-footer{
    background-color: #046d93;
    transition: 0.4s;
}

.dark-accordian{
    background-color: #4ab0ba;
    transition: 0.4s;
}

.dark-panel{
    background-color: #78e1f1;
    transition: 0.4s;
}

.dark-copyright{
    color: #9adfdf;
    transition: 0.4s;
}
